body {
    margin: 0;
}

.header {
    text-align: center;
    padding: 15px;
    font-size: 32px;
    background-color: lightblue;
    margin: 0;
    border-bottom: solid 2px black;
}

.header ul {
    margin: 0;
}

.header a {
    text-decoration: none;
    color: darkblue;
}

.header a:hover {
    color: aquamarine;
}

.container {
    max-width:800px;
    margin:0 auto;
}

.firstRow {
    border-bottom: solid 3px black;
    height: 30px;
}

.rows {
    display:block;
    width:100%;
}

.tablehead li {
    display:inline-block;
    min-width:150px;
}

.table li{
    display: inline-block;
    min-width:150px;
}

.inputRows {
    padding-right: 3%;
    padding-left: 3%;
}

label {
    float:left;
    margin-right:10px;
    min-width: 175px;
}

input {
    width: 25em;
    padding-right: 5%;
}

input[type="submit"] {
    width: 6em;
    padding:auto;
    display:block;
    margin-bottom: 20px;
}

.footer {
    clear: left;
    border-top: solid 2px black;
    font-size: 14px;
    background-color: lightblue;
    text-align: right;
    padding: 1px 8px 1px 1px;
}
