<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/styleSheet.css">
    <title>Lisa</title>
</head>
<body>
    <div id="error-block" tpl-if="$errors">
        <ul>
            <li tpl-foreach="$errors as $error">
                {{ $error }}
            </li>
        </ul>
    </div>

    <div tpl-include="tpl/header.html"></div>
    <div tpl-include="tpl/additionForm.html"></div>
    <div tpl-include="tpl/footer.html"></div>
</body>
</html>