<form class="inputRows" method="post" action="?cmd=submit-button">
    <label>Eesnimi:</label>
        <p><input type="text" placeholder="First name" name="firstName" value="{{ $person->firstName }}"></p>
    <label>Perekonnanimi:</label>
        <p><input type="text" placeholder="Last name" name="lastName" value="{{ $person->lastName }}"></p>
    <label>Telefon 1:</label>
        <p><input type="text" placeholder="Phone 1" name="phone1" value="{{ $person->phones[0] }}"></p>
    <label>Telefon 2:</label>
        <p><input type="text" placeholder="Phone 2" name="phone2" value="{{ $person->phones[1] }}"></p>
    <label>Telefon 3:</label>
        <p><input type="text" placeholder="Phone 3" name="phone3" value="{{ $person->phones[2] }}"></p>
        <p><input type="hidden" name="id" value="{{ $person->id }}"></p>
    <input type="submit" value="Kinnita" name="submit-button"/>
</form>