<div>
    <div class="rows firstRow">
        <ul class="tablehead">
            <li>Eesnimi</li>
            <li>Perekonnanimi</li>
            <li>Telefoninumbrid</li>
        </ul>
    </div>
    <div class="rows" tpl-foreach="$persons as $person">
        <ul class="table">
            <li><a href="?cmd=edit;{{ $person->id }}">{{ $person->firstName }}</a></li>
            <li>{{ $person->lastName }}</li>
            <li tpl-foreach="$person->phones as $phone">{{ $phone }}</li>
        </ul>
    </div>
</div>